/*
  SOURCE CODE VERSION: 1.0
  FILE/TYPE: CSS
  PROGRAMMER: NELSON CHIDI (NELMATRIX)
  DATE-TIME CREATED: SEPT 13, 2025; 1:03PM
  REPOSITORY: https://github.com/NelMatrix743/simple_quiz_web_app.git
*/

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #343D3F;
}

.entry-point {
  background: #1E2729;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #B8CACD;
}

.entry-point h1 {
  color: #B8CACD;
  font-size: 25px;
  font-weight:  600;
  border-bottom: 1px solid #333333;
  padding-bottom: 30px;
}

.quiz-display{
  padding: 20px 0;
}

.quiz-display h2 {
  font-size: 18px;
  color: #B8CACD;
  font-weight: 600px;
  padding-bottom: 10px;
}

.btn {
  background: #B8CACD;
  color: #222222;
  font-weight: 500px;
  width: 100%;
  border: 1px solid #222222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover:not([disabled]) {
  background: #222222;
  color: #ffffff;
}

.btn:disabled {
  cursor: no-drop;
}

.control-btn {
  background: #B8CACD;
  color: #343D3F;
  font-weight: 600;
  width: 170px;
  border: none;
  border-radius: 4px;
  padding: 15px;
  margin: 20px auto 0;
  cursor: pointer;
}

.control-btn:active { 
  background-color: #343D3F;
  color: #B8CACD;
  border: 1px solid #B8CACD;
}

.control-btn-container {
  display: flex;
  padding-right: 10px;
}

#nxt-btn {
  display: none;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B8CACD;
  color: #343D3F;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
}

#score-num {
  padding-left: 10px;
  padding-bottom: 5px;
  color: red;
  font-size: 30px;
  font-weight: 500;
  font-family: consolas;
}

.correct {
  background-color: #9aeabc;
}

.incorrect {
  background-color: #ff9393;
}