/*
  SOURCE CODE VERSION: 1.0
  FILE/TYPE: CSS
  PROGRAMMER: NELSON CHIDI (NELMATRIX)
  DATE-TIME CREATED: SEPT 13, 2025; 1:03PM
  REPOSITORY: https://github.com/NelMatrix743/simple_quiz_web_app.git
*/

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #001e4d;
}

.entry-point {
  background: #ffffff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 10px;
}

.entry-point h1 {
  color: #001e4d;
  font-size: 25px;
  font-weight:  600;
  border-bottom: 1px solid #333333;
  padding-bottom: 30px;
}

.quiz-display{
  padding: 20px 0;
}

.quiz-display h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600px;
}

.btn {
  background: #ffffff;
  color: #222222;
  font-weight: 500px;
  width: 100%;
  border: 1px solid #222222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background: #222222;
  color: #ffffff;
}